.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
}

.item {
  // height: 300px;
  // width: 300px;
  margin: 1rem;
  // flex-basis: 65%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  width: 90%;
  border: 1px solid #eaeaea;
  transition: border-color 0.15s ease;

  h3 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
}

.item:hover,
.item:focus,
.item:active {
  border-color: #1c5f43;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    flex-direction: column;
  }
}
