.title span {
  color: #1c5f43;
  text-decoration: none;
}

.title {
  margin: 0;
  line-height: 1;
  font-size: 3.5rem;
}

.subtitle {
  margin: 0;
  line-height: 1;
  font-size: 1.5rem;
}

.code {
  margin: 0;
  font-size: 1.5rem;
  font-family: 'Mukta Mahee', sans-serif;
  letter-spacing: 3px;
  width: 400px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
